.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  justify-content: center;
  row-gap: 3rem;
  margin-left: 14rem;
  padding: 3rem 0;
}

.img-card-container {
  height: 21rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  font-weight: var(--standard-font-weight);
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--background-color-one);
}

.img-description-rating {
  background-color: var(--color-two);
  color: var(--background-color-one);
  width: 2rem;
  padding: 2px 7px;
  border-radius: 0.3rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--background-color-two);
}

.img-container {
  height: 14rem;
  width: 14rem;
}

.img-card-container:hover {
  box-shadow: var(--standard-box-shadow);
}

h4,
h5 {
  margin: 0;
}
