.upper-nav {
  background-color: var(--background-color-two);
  color: var(--background-color-one);
  height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.3rem 1rem;
  align-items: center;
  column-gap: 1.2rem;
}

.main-nav {
  background-color: whitesmoke;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-one);
  border-bottom: dotted 1.5px var(--border-color);
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  z-index: 4;
}

.log-in,
.log-out,
.new-account,
.profile-icon {
  font-weight: var(--standard-font-weight);
  display: flex;
  column-gap: 0.2rem;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.new-account:hover {
  text-decoration: underline;
}

.log-in-icon,
.log-out-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar input {
  width: 30rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.product-search-icon {
  margin-left: -1.6rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 4.3rem;
}

.logo {
  height: 3rem;
  width: 4rem;
  cursor: pointer;
}

.logo-container {
  display: flex;
  margin-left: 1rem;
  font-weight: 600;
  font-family: "Arvo", serif;
  font-size: 25px;
  color: var(--background-color-two);
}

.shopping-cart,
.wishlist {
  width: 2rem;
  height: 2rem;
}

.dot {
  border-radius: 50%;
  position: absolute;
  top: 3.2rem;
  background-color: var(--color-two);
  color: var(--background-color-one);
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  justify-content: center;
  margin-left: 1.2rem;
  align-items: center;
}

.page-container {
  display: flex;
  column-gap: 2rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  padding-top: 1.8rem;
  border-radius: 2rem;
  height: 4rem;
}

.search-products {
  background-color: whitesmoke;
  font-size: 13px;
  line-height: 1.8rem;
  padding-left: 0.8rem;
  cursor: pointer;
  display: flex;
  box-shadow: var(--standard-box-shadow);
}

@media screen and (max-width: 900px) {
  .search-bar input,
  .product-search-icon {
    display: none;
  }
}
