.App {
  max-width: 100%;
  min-height: 100vh;
}

* {
  --color-two: #1b74e4;
  --click-color: red;
  --background-color-one: white;
  --background-color-two: black;
  --background-color-three: rgba(0, 0, 0, 0.3);
  --border-color: gainsboro;
  --standard-font-weight: 600;
  --standard-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
